* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

#guessWord {
    display: none;
}

.wipMessage {
  width: 100%;
  text-align: center;
  background-color: #666;
  color: #ffffff;
  margin: 0;
  top: 0;
}

.game {
  margin: 3em auto 3em auto;
  text-align: center;
}





/* ========= Letter Boxes ========= */
.wordDisplay {
  margin-left: auto;
  margin-right: auto;
}

.boxLetter {
    background-color: white;
    height: 6em;
    width: 3em;
    margin-right: 1em;
    float: left;
    border-radius: 1em;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.13);
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.13);
}
